include ./about-main.pug
include ./about-goals.pug
include ./about-numeral.pug
include ./about-command.pug
include ./cases_screen.pug
include ./reviews_screen.pug
include ./contacts_screen.pug


mixin about-page
    +about-main
    +about-goals
    +about-numeral
    +about-command
    +cases_screen
    +reviews_screen
    +contacts_screen