mixin about-command
    +b.about-command.wrap
        +b.about-command-content.container
            +b.title-default-block.title_center
                    +e.P.title Цели #[span компани]
                    +e.P.desc.text_gray Считаем рентабельность инвестиций в рекламу правильно!
            +b.about-command-slider
                +e.item
                    +e.avatar
                        img(src="./img/terminator.jpg")
                    +e.P.title Schwarzenegger
                    +e.P.position.title_micro Terminator
                    +e.P.desc.text_small 10+ лет опыта, 200+ проектов
                +e.item
                    +e.avatar
                        img(src="./img/terminator.jpg")
                    +e.P.title Schwarzenegger
                    +e.P.position.title_micro Terminator
                    +e.P.desc.text_small 10+ лет опыта, 200+ проектов
                +e.item
                    +e.avatar
                        img(src="./img/terminator.jpg")
                    +e.P.title Schwarzenegger
                    +e.P.position.title_micro Terminator
                    +e.P.desc.text_small 10+ лет опыта, 200+ проектов
                +e.item
                    +e.avatar
                        img(src="./img/terminator.jpg")
                    +e.P.title Schwarzenegger
                    +e.P.position.title_micro Terminator
                    +e.P.desc.text_small 10+ лет опыта, 200+ проектов
                +e.item
                    +e.avatar
                        img(src="./img/terminator.jpg")
                    +e.P.title Schwarzenegger
                    +e.P.position.title_micro Terminator
                    +e.P.desc.text_small 10+ лет опыта, 200+ проектов
            +b.A.yellow-btn(href="") Обсудить задачу