mixin about-numeral
    +b.about-numeral.wrap
        +b.about-numeral-content.container
            +b.title-default-block.title_center
                    +e.P.title Кейсы с нашими #[span клиентами]
                    +e.P.desc Успешные кейсы с конкретным описанием пошаговых действий. Рассказываем о комплексном применении маркетинговых инструментов и достижении поставленных целей.
            +b.about-numeral-list
                +e.item
                    +e.num-block
                        +e.P.num 100
                    +e.P.title.title_small Project Manager
                    +e.P.desc Наши клиенты становятся нашими бизнес партнерами на долгое время. Ваш уникальный продукт и качественный Ваш уникальный продукт и 
                +e.item
                    +e.num-block
                        +e.P.num 100
                    +e.P.title.title_small Project Manager
                    +e.P.desc Наши клиенты становятся нашими бизнес партнерами на долгое время. Ваш уникальный продукт и качественный Ваш уникальный продукт и 
                +e.item
                    +e.num-block
                        +e.P.num 100
                    +e.P.title.title_small Project Manager
                    +e.P.desc Наши клиенты становятся нашими бизнес партнерами на долгое время. Ваш уникальный продукт и качественный Ваш уникальный продукт и 
            +b.A.yellow-btn(href="") Обсудить задачу
               