mixin case-results
    +b.case-results.wrap
        +b.case-results-content.container
            +b.title-default-block.contacts-page-title
                    +e.P.title Наши #[span результаты]
                    +e.P.desc.text_gray Детальная структура аккаунта с разбивкой на группы интересов дала возможность получить подтверждение или опровержение определенных гипотез. Мы получили много инсайтов относительно реальных интересов нашей целевой аудитории и ценную статистику для масштабирования рекламных аккаунтов. #[br]#[br]  Благодаря "сквозной" аналитике нам удалось проследить качество и исполняемость каждого обращения. #[br]#[br]  Инсайт: одна из заявок, которая привела к продаже дома, была получена по каналу "instagram/cpc", с таргетингом на мужчин, интересующихся яхтингом, в возрасте 35+.
            +b.case-results-list
                +e.item
                    +e.title +7,26%
                    +e.desc Прирост по количеству заявок на кредит, в период медийной активности
                +e.item
                    +e.title +7,26%
                    +e.desc Прирост по количеству заявок на кредит, в период медийной активности
                +e.item
                    +e.title +7,26%
                    +e.desc Прирост по количеству заявок на кредит, в период медийной активности
                +e.item
                    +e.title +7,26%
                    +e.desc Прирост по количеству заявок на кредит, в период медийной активности
                +e.item
                    +e.title +7,26%
                    +e.desc Прирост по количеству заявок на кредит, в период медийной активности
            +b.A.yellow-btn(href="#") хочу также