mixin case-decision
    +b.case-decision.wrap
        +b.case-decision-content.container
            +b.title-default-block.contacts-page-title
                +e.P.title Решение #[span задачи]
            +b.case-decision-list
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.text
                        +e.P.title.title_regular Настройка рекламы TrueView In-Stream
                        +e.P.desc Видеообъявления TrueView In-Stream показываются в роликах на YouTube, а также на сайтах и в приложениях в контекстно-медийной сети. Зрители могут пропустить видеообъявление через 5 секунд. Плата за показ рекламы взимается только в том случае, если пользователь просмотрел 30 секунд объявления или взаимодействовал с ним.
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.text
                        +e.P.title.title_regular Настройка рекламы TrueView In-Stream
                        +e.P.desc Видеообъявления TrueView In-Stream показываются в роликах на YouTube, а также на сайтах и в приложениях в контекстно-медийной сети. Зрители могут пропустить видеообъявление через 5 секунд. Плата за показ рекламы взимается только в том случае, если пользователь просмотрел 30 секунд объявления или взаимодействовал с ним.
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.text
                        +e.P.title.title_regular Настройка рекламы TrueView In-Stream
                        +e.P.desc Видеообъявления TrueView In-Stream показываются в роликах на YouTube, а также на сайтах и в приложениях в контекстно-медийной сети. Зрители могут пропустить видеообъявление через 5 секунд. Плата за показ рекламы взимается только в том случае, если пользователь просмотрел 30 секунд объявления или взаимодействовал с ним.
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.text
                        +e.P.title.title_regular Настройка рекламы TrueView In-Stream
                        +e.P.desc Видеообъявления TrueView In-Stream показываются в роликах на YouTube, а также на сайтах и в приложениях в контекстно-медийной сети. Зрители могут пропустить видеообъявление через 5 секунд. Плата за показ рекламы взимается только в том случае, если пользователь просмотрел 30 секунд объявления или взаимодействовал с ним.
                