mixin case-tasks
    +b.case-tasks.wrap
        +b.case-tasks-content.container
            +b.title-default-block.contacts-page-title
                +e.P.title Задачи #[span проекта]
            +b.UL.case-tasks-list
                +e.LI.item.text_regular.text_gray Охватить целевую аудиторию пользователей.
                +e.LI.item.text_regular.text_gray Донести широкой аудитории информацию о новых, акционных, условиях займа.
                +e.LI.item.text_regular.text_gray Охватить целевую аудиторию пользователей.
                +e.LI.item.text_regular.text_gray Донести широкой аудитории информацию о новых, акционных, условиях займа.
            +b.case-tasks-video
                iframe(width="100%" height="100%" src="https://www.youtube.com/embed/5lCRsLjMeso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            
