mixin cases-similar
    +b.cases-similar.wrap
        +b.cases-similar-content.container
            +b.title-default-block.contacts-page-title
                +e.P.title Похожие #[span кейсы]
                +e.P.desc.text_gray Успешные кейсы с конкретным описанием пошаговых действий. Рассказываем о комплексном применении маркетинговых инструментов и достижении поставленных целей
            +b.cases-similar-slider
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                    +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                    +e.footer
                        +b.A.more(href="#") подробнее
                        +e.P.date.text_small Monday, June 22
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                    +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                    +e.footer
                        +b.A.more(href="#") подробнее
                        +e.P.date.text_small Monday, June 22
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                    +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                    +e.footer
                        +b.A.more(href="#") подробнее
                        +e.P.date.text_small Monday, June 22
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif")
                    +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                    +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                    +e.footer
                        +b.A.more(href="#") подробнее
                        +e.P.date.text_small Monday, June 22
            +b.A.yellow-btn(href="") Обсудить задачу