mixin cases-page
    +b.cases-page.wrap
            +b.cases-page-content.container
                +b.title-default-block.title_center
                    +e.P.title Кейсы с нашими #[span клиентами]
                    +e.P.desc Успешные кейсы с конкретным описанием пошаговых действий. Рассказываем о комплексном применении маркетинговых инструментов и достижении поставленных целей.
                    +b.tumbler 
                        input#bopis.on-off-toggle__input(type='checkbox')
                        label.on-off-toggle__slider(for='bopis')
                        +e.P Switch On
                +b.cases-page-list
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22
                    +b.cases-page-list-item
                        +e.img-block
                            img(src="./img/yaht.jfif")
                        +e.P.title.title_regular Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.desc.text_small Задача организации, в особенности же сложившаяся структура организации также требуют определения и уточнения форм
                        +e.footer
                            +b.A.more(href="#") подробнее
                            +e.P.date.text_small Monday, June 22

