mixin cases_screen 
    +b.cases.wrap
        +b.cases-content.container
            +b.title-default-block.cases-title
                +e.P.title О нас #[span говорят]
                +e.P.desc.text_gray Говорят: «Если сам себя не похвалишь - никто не похвалит.» Эта история не про нас :) Мы с гордостью делимся отзывами о нашей работе.
            +b.cases-slider
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif", alt="")
                    +e.info
                        +e.P.title.title_small Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.text.text_regulaar Задача организации, в особенности же сложившаяся структура организации также  требуют определения и уточнения форм  Организации также  требуют определения и уточнения форм Задача организации, в особенности же сложившаяся структура организации также  требуют определения и уточнения форм 
                        +b.A.yellow-btn(href="") Посмотреть кейс
                +e.item
                    +e.img-block
                        img(src="./img/yaht.jfif", alt="")
                    +e.info
                        +e.P.title.title_small Эко-Лавка - сеть магазинов здорового питания. Как мы продавали через #[span Google Merchant Center]
                        +e.P.text.text_regulaar Задача организации, в особенности же сложившаяся структура организации также  требуют определения и уточнения форм  Организации также  требуют определения и уточнения форм Задача организации, в особенности же сложившаяся структура организации также  требуют определения и уточнения форм 
                        +b.A.yellow-btn(href="") Посмотреть кейс
