include ./case-main.pug
include ./case-tasks.pug
include ./case-decision.pug
include ./case-results.pug
include ./cases-similar.pug
include ./contacts_screen.pug



mixin case_item-page
    +case-main
    +case-tasks
    +case-decision
    +case-results
    +cases-similar
    +contacts_screen