mixin choice_screen 
    +b.choice.wrap
        +b.choice-content.container
            +b.title-default-block.choice-title
                +e.P.title Почему #[span выбирают нас]
                +e.P.desc.text_gray Понимаем, как сложно выбрать надежного партнера в бизнесе. Наше агентство так же, работает не со всеми проектами. Давайте обсудим вашу задачу и если между нами произойдет «химия» мы приложим максимум усилий для достижения результатов

            +b.choice-working
                +b.choice-list
                    +e.item
                        +e.P.title.title_small Эксперты #[span в веб-аналитике]
                        +e.P.desc.text_regulaar.text_gray 1Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                    +e.item
                        +e.P.title.title_small Эксперты #[span в веб-аналитике]
                        +e.P.desc.text_regulaar.text_gray 2Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                    +e.item
                        +e.P.title.title_small Эксперты #[span в веб-аналитике]
                        +e.P.desc.text_regulaar.text_gray 3Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                    
                +b.choice-info
                    +e.item
                        img(src="./img/phone.png", alt="1")
                    +e.item
                        img(src="./img/phone.png", alt="2")
                    +e.item
                        img(src="./img/phone.png", alt="3")

            +b.choice-slider
                +e.item
                    +b.choice-info__item
                        img(src="./img/phone.png", alt="1")
                    +b.choice-list__item
                            +e.P.title.title_small Эксперты #[span в веб-аналитике]
                            +e.P.desc.text_regulaar.text_gray 1Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                +e.item
                    +b.choice-info__item
                        img(src="./img/phone.png", alt="2")
                    +b.choice-list__item
                            +e.P.title.title_small Эксперты #[span в веб-аналитике]
                            +e.P.desc.text_regulaar.text_gray 2Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                +e.item
                    +b.choice-info__item
                        img(src="./img/phone.png", alt="3")
                    +b.choice-list__item
                            +e.P.title.title_small Эксперты #[span в веб-аналитике]
                            +e.P.desc.text_regulaar.text_gray 3Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.

                
