mixin footer
	+b.FOOTER.footer.wrap#footer
		+b.footer-content.container
			+b.footer-wrap
				+b.footer-logo
					+b.IMG.main__title(src="./img/power-up.svg")
					+b.IMG.main__title_dark(src="./img/power-up-dark.svg")
					+e.P.sub-title #[span online marketing] agency
				+b.footer-nav
					+b.footer-nav-item.footer-nav-market
						+e.P.title.title_small Power-up
						+e.UL.list
							+e.LI.list-item
								a(href="#").text_regulaar О нас
							+e.LI.list-item
								a(href="#").text_regulaar О нас
							+e.LI.list-item
								a(href="#").text_regulaar О нас
							+e.LI.list-item
								a(href="#").text_regulaar О нас
							+e.LI.list-item
								a(href="#").text_regulaar О нас
					+b.footer-nav-item.footer-nav-services
						+e.P.title.title_small Услуги
						+e.UL.list
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
							+e.LI.list-item
								a(href="#").text_regulaar Веб-аналитика 
					+b.footer-nav-item.footer-nav-connection
						+e.P.title.title_small Контакты
						+e.UL.list
							+e.LI.list-item.footer-mail
								a(href="#").text_regulaar manager@.com
							+e.LI.list-item.footer-tel
								a(href="#").text_regulaar + 38 (044) 599 30 33
							+e.LI.list-item.facebook
								a(href="#")
									img(src="./img/facebook.svg" title.title_small="facebook" alt="facebook")
						
			+b.P.footer-copyright 2008-2020 Продвижение сайтов
