mixin marketing_screen 
    +b.marketing.wrap
        +b.marketing-content.container
            +b.title-default-block.marketing-title
                +e.P.title Делаем маркетинг #[span по любви]
                +e.P.desc.text_gray Наши клиенты становятся нашими бизнес партнерами на долгое время. Ваш уникальный продукт и качественный сервис являются лишь частью успеха. Мы поможем привлечь целевую аудиторию, выйти на окупаемость, прибыльность и узнаваемость на рынке.

            +b.marketing-working
                +b.marketing-info
                    +e.item
                        +e.P.title.title_middle Увеличиваем #[span возврат инвестиций]
                        +e.P.desc.text_regulaar.text_gray 1Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                        +b.A.yellow-btn(href="") Обсудить задачу
                    +e.item
                        +e.P.title.title_middle Увеличиваем #[span возврат инвестиций]
                        +e.P.desc.text_regulaar.text_gray 2Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                        +b.A.yellow-btn(href="") Обсудить задачу
                    +e.item
                        +e.P.title.title_middle Увеличиваем #[span возврат инвестиций]
                        +e.P.desc.text_regulaar.text_gray 3Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                        +b.A.yellow-btn(href="") Обсудить задачу
                    +e.item
                        +e.P.title.title_middle Увеличиваем #[span возврат инвестиций]
                        +e.P.desc.text_regulaar.text_gray 4Настраиваем рекламу для людей, а не для роботов. Показываем рекламу в нужное время и в нужном месте.
                        +b.A.yellow-btn(href="") Обсудить задачу
                +b.marketing-list
                    +e.item.active.pre-active
                        +e.IMG.img(src="./img/bar-chart.png", alt="alt")
                        +e.P.title 1Привлекаем целевой трафик
                    +e.item
                        +e.IMG.img(src="./img/bar-chart.png", alt="alt")
                        +e.P.title 2Привлекаем целевой трафик
                    +e.item
                        +e.IMG.img(src="./img/bar-chart.png", alt="alt")
                        +e.P.title 3Привлекаем целевой трафик
                    +e.item
                        +e.IMG.img(src="./img/bar-chart.png", alt="alt")
                        +e.P.title 4Привлекаем целевой трафик

