mixin packages-command
    +b.packages-command.wrap
        +b.packages-command-content.container
            +b.title-default-block.title_center
                    +e.P.title Кейсы с нашими #[span клиентами]
                    +e.P.desc Успешные кейсы с конкретным описанием пошаговых действий. Рассказываем о комплексном применении маркетинговых инструментов и достижении поставленных целей.
            +b.packages-command-list
                +e.item
                    +e.icon-block
                        img(src="./img/goal.png")
                    +e.P.title.title_small Project Manager
                    +e.P.desc Стратегическое планирование, координация работы команды.
                +e.item
                    +e.icon-block
                        img(src="./img/goal.png")
                    +e.P.title.title_small Project Manager
                    +e.P.desc Стратегическое планирование, координация работы команды.
                +e.item
                    +e.icon-block
                        img(src="./img/goal.png")
                    +e.P.title.title_small Project Manager
                    +e.P.desc Стратегическое планирование, координация работы команды.
                +e.item
                    +e.icon-block
                        img(src="./img/goal.png")
                    +e.P.title.title_small Project Manager
                    +e.P.desc Стратегическое планирование, координация работы команды.
            +b.A.yellow-btn(href="") Обсудить задачу
            