mixin packages-detail
    +b.packages-detail.wrap
        +b.packages-detail-content.container
            +b.title-default-block
                +e.P.title Кейсы с нашими #[span клиентами]
                +e.P.desc Успешные кейсы с конкретным описанием пошаговых действий. Рассказываем о комплексном применении маркетинговых инструментов и достижении поставленных целей.
            +b.table-wrap
                +b.TABLE.packages-detail-table
                    thead
                        tr
                            td
                            td
                                +b.td-head
                                    +e.header
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                        +b.packages-card__icon-bg
                                            +e.IMG.icon(src="./img/ballon.png")
                                            +e.IMG.icon-hover(src="./img/engine.png")
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                    +e.P.title.title_small Lite
                                    +e.P.price 500$
                                    +b.A.btn-application(href="") Оставить заявку
                            td
                                +b.td-head
                                    +e.header
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                        +b.packages-card__icon-bg
                                            +e.IMG.icon(src="./img/ballon.png")
                                            +e.IMG.icon-hover(src="./img/engine.png")
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                    +e.P.title.title_small Lite
                                    +e.P.price 500$
                                    +b.A.btn-application(href="") Оставить заявку
                            td
                                +b.td-head
                                    +e.header
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                        +b.packages-card__icon-bg
                                            +e.IMG.icon(src="./img/ballon.png")
                                            +e.IMG.icon-hover(src="./img/engine.png")
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                    +e.P.title.title_small Lite
                                    +e.P.price 500$
                                    +b.A.btn-application(href="") Оставить заявку
                            td
                                +b.td-head
                                    +e.header
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                        +b.packages-card__icon-bg
                                            +e.IMG.icon(src="./img/ballon.png")
                                            +e.IMG.icon-hover(src="./img/engine.png")
                                        +e.IMG.level(src="./img/level-one.png")
                                        +e.IMG.level-dark(src="./img/level-one-dark.png")
                                    +e.P.title.title_small Lite
                                    +e.P.price 500$
                                    +b.A.btn-application(href="") Оставить заявку
                           
                    tbody
                        tr.tr_title
                            td(colspan="5") Анализ доменов, URL, ключевых слов
                        tr
                            td Запросов в день
                            td 4 000
                            td 5 000
                            td 8 000
                            td 12 000
                        tr
                            td Запросов в день
                            td 4 000
                            td 5 000
                            td 8 000
                            td 12 000
                        tr
                            td Запросов в день
                            td 4 000
                            td 5 000
                            td 8 000
                            td 12 000
                        tr.tr_title
                            td(colspan="5") hello
                        tr
                            td Запросов в день
                            td 4 000
                            td 5 000
                            td 8 000
                            td 12 000
                        tr
                            td Запросов в день
                            td 4 000
                            td 5 000
                            td 8 000
                            td 12 000
                        