mixin packages-card
    +b.packages-card
        +e.head
            +e.IMG.level(src="./img/level-one.png")
            +e.IMG.level-dark(src="./img/level-one-dark.png")
            +b.packages-card__icon-wrap
                +b.packages-card__icon-bg
                    +e.IMG.icon(src="./img/ballon.png")
                    +e.IMG.icon-hover(src="./img/engine.png")
            +e.IMG.level(src="./img/level-one.png")
            +e.IMG.level-dark(src="./img/level-one-dark.png")
        +e.P.title.title_small Lite
        +e.P.desc.text_small-thin.text_gray Для начинающего или действующего бизнеса, малоизвестных брендов или стартапов, которые не представлены в онлайн
        +e.P.price 500$
        +e.UL.list
            +e.LI.list-item.text_small-thin.text_gray 1-2 инструмента на выбор 
            +e.LI.list-item.text_small-thin.text_gray 1-2 инструмента на выбор 
            +e.LI.list-item.text_small-thin.text_gray 1-2 инструмента на выбор 
            +e.LI.list-item.text_small-thin.text_gray 1-2 инструмента на выбор 
        +b.A.btn-application(href="") Оставить заявку