include ./service-item-main.pug
include ./service-start.pug
include ./service-analytic.pug
include ./cases_screen.pug
include ./reviews_screen.pug
include ./contacts_screen.pug


mixin service-item-page
    +service-item-main
    +service-start
    +service-analytic
    +cases_screen
    +reviews_screen
    +contacts_screen
