mixin service-analytic 
    +b.service-analytic.wrap
        +b.service-analytic-content.container
            +b.service-analytic-info
                +e.P.title Зачем нужна #[span веб-аналитика?]
                +e.P.sub-title.title_small Вопросы для самопроверки:
                +e.UL.list
                    +e.list-item.title_small-thin 1Сколько вы платите за привлечение клиента на сайт?
                    +e.list-item.title_small-thin 2Сколько вы платите за привлечение клиента на сайт?
                    +e.list-item.title_small-thin 3Сколько вы платите за привлечение клиента на сайт?
                +e.P.desc.text_regular У Вас появились сложности с ответами? Не расстраивайтесь - мы поможем разобраться в веб-аналитике, научим задавать правильные вопросы и вместе найдем на на них ответы.
                +b.A.yellow-btn(href="") Обсудить задачу
            +b.service-analytic-image
                img(src="./img/service-phone.png", alt="")