mixin services_screen 
    +b.services.wrap
        +b.services-content.container
            +b.title-default-block.services-title
                +e.P.title Услуги #[span компании]
                +e.P.desc.text_gray Работаем с проектами комплексно, умеем считать деньги и ориентируемся на показатель возврата инвестиций в рекламу.
            +b.services-list
                +e.item
                    +e.IMG.img(src="./img/bar-chart.png" alt="")
                    +e.P.title.title_small Веб-аналитика
                    +e.P.desc.text_regular.text_gray Помогаем разобраться в веб-аналитике. Настроим отслеживание показателей и метрик эффективности сайта. Определим ядро целевой аудитории.
                    +b.A.more(href="#") Подробнее
                +e.item
                    +e.IMG.img(src="./img/bar-chart.png" alt="")
                    +e.P.title.title_small Веб-аналитика
                    +e.P.desc.text_regular.text_gray Помогаем разобраться в веб-аналитике. Настроим отслеживание показателей и метрик эффективности сайта. Определим ядро целевой аудитории.
                    +b.A.more(href="#") Подробнее
                +e.item
                    +e.IMG.img(src="./img/bar-chart.png" alt="")
                    +e.P.title.title_small Веб-аналитика
                    +e.P.desc.text_regular.text_gray Помогаем разобраться в веб-аналитике. Настроим отслеживание показателей и метрик эффективности сайта. Определим ядро целевой аудитории.
                    +b.A.more(href="#") Подробнее